%row {
  width: 100%;
  max-width: $pagewidth + $gutter;
  margin: 0 auto;
  @include clearfix;

  &.padding {
    padding: $gutter / 3 $gutter / 2;
  }
}

%col {
  float: left;
  padding: 0 $gutter / 2 0 $gutter / 2;
}

@mixin col($numerator, $denominator) {
  width: 100% / $denominator * $numerator;
}

@mixin push($numerator, $denominator) {
  margin-left: 100% / $denominator * $numerator;
}

@mixin pull($numerator, $denominator) {
  margin-left: -100% / $denominator * $numerator;
}